@model TaskListModel
@{
	ViewData["Title"] = "Index";
}

<section class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<div class="card">
					<div class="card-header d-flex align-items-center">
						<h3 class="card-title">Status List</h3>
						<!-- ✅ Fixed double <a> tag -->
						<a asp-controller="TaskItem" asp-action="Create" class="btn btn-custom ml-auto">
							<i class="fas fa-plus"></i> Add Task
						</a>
					</div>
					<!-- /.card-header -->

					<div class="card-body">
						<div class="row">
							<!-- Status Filter -->
							<div class="col-sm-3">
								<div class="form-group">
									<label>Status</label>
									<select asp-for="SearchParams.StatusId" asp-items="Model.StatusList" class="form-control">
										<option selected value="">Select Status</option>
									</select>
								</div>
							</div>

							<!-- Priority Filter -->
							<div class="col-sm-3">
								<div class="form-group">
									<label>Priority</label>
									<select asp-for="SearchParams.Priority"
											asp-items="Html.GetEnumSelectList<Priority>()"
											class="form-control">
										<option selected value="0">Select Priority</option>
									</select>
								</div>
							</div>

							<!-- Date From Filter -->
							<div class="col-sm-3">
								<div class="form-group">
									<label>Create Date From</label>
									<input type="text" asp-for="SearchParams.FromDate" class="form-control" />
								</div>
							</div>

							<!-- Date To Filter -->
							<div class="col-sm-3">
								<div class="form-group">
									<label>Create Date To</label>
									<input type="text" asp-for="SearchParams.ToDate" class="form-control" />
								</div>
							</div>
						</div>

						<!-- Search Button -->
						<button id="searchButton" type="button" class="btn btn-custom float-right">Search</button>
					</div>

					<!-- DataTable -->
					<div class="card-body">
						@* Modal Partial for Delete Confirmation *@
						<partial name="_DeleteModal" />
						<table id="task-table" class="table table-sm table-hover">
							<thead class="table-header">
								<tr>
									<th>Due Date</th>
									<th>Task</th>
									<th>Description</th>
									<th>Priority</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>


@section styles {
	<link rel="stylesheet" href="~/AdminLte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="~/AdminLte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="~/adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker3.standalone.min.css"   />

	<style>
		.custom-table-header {
			background-color: #3c8dbc;
			color: white;
		}

		.btn-custom {
			background-color: #17a2b8;
			color: white;
			font-size: 0.85rem;
			padding: 0.25rem 0.5rem;
			border: none;
		}

			.btn-custom:hover {
				background-color: #138496;
			}
	</style>
}

@section Scripts {
	<script src="~/adminlte/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="~/adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
	<script src="~/adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="~/adminlte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="~/adminlte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="~/adminlte/plugins/jszip/jszip.min.js"></script>
	<script src="~/adminlte/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="~/adminlte/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="~/adminlte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="~/adminlte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="~/adminlte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"></script>

	<partial name="../Shared/_ValidationScriptsPartial.cshtml" />

	<script>

		$(function () {
			$("#task-table").DataTable({
				processing: true,
				serverSide: true,
				responsive: true,
				searching: false,
				autoWidth: true,
				lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
				ajax: {
					url: "/TaskItem/GetTaskItemJsonData",
					type: "POST",
					contentType: "application/json",
					dataType: "json",
					data: function (d) {
						d.SearchParams = {
							StatusId: $('#SearchParams_StatusId').val(),
							Priority: $('#SearchParams_Priority').val() == "0" ? null : $('#SearchParams_Priority').val(),
							FromDate: $('#SearchParams_FromDate').val() || null,
							ToDate: $('#SearchParams_ToDate').val() || null
						};
						return JSON.stringify(d);
					}
				},
				columnDefs: [
					{
						orderable: false,
						targets: 5,
						render: function (data, type, row) {
							return `<div class="btn-group">
								<button type="button" class="btn btn-info dropdown-toggle btn-xs" data-toggle="dropdown" aria-expanded="false">
									Actions
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-left" role="menu" style="min-width: auto;">
									<li>
										<a href="/taskitem/edit/${data}" class="btn btn-sm">
											<i class="fas fa-edit"></i> Edit
										</a>
									</li>
									<li>
										<a href="javascript:void(0)" class="btn btn-sm show-bs-modal" data-id="${data}">
											<i class="fa fa-trash"></i> Delete
										</a>
									</li>
								</ul>
							</div>`;
						}
					}
				]
			});

			$('#task-table').on('click', '.show-bs-modal', function () {
				console.log("Delete button clicked"); // DEBUG line
				let id = $(this).data("id");
				let modal = $("#modal-default");
				modal.find('.modal-body p').text('Are you sure you want to delete this task?');
				$("#deleteId").val(id);
				$("#deleteForm").attr("action", "/TaskItem/Delete");
				modal.modal('show');
			});


			$("#deleteButton").click(function () {
				$("#deleteForm").submit();
			});

			$("#searchButton").click(function () {
				$('#task-table').DataTable().ajax.reload(null, false);
			});

			$('#SearchParams_FromDate, #SearchParams_ToDate').datepicker({
				format: 'yyyy-mm-dd',
				autoclose: true
			});
		});

	</script>
}

